* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*styling for header sections below*/
.header {
  padding: 20px;
  background-color: #2a607c;
  color: #ffffff;

}
/*styling for nav elements*/
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

#study-guide, #code-refactor, #java, #more {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  background-color: #0072bb;
  color: #ffffff;
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
#content {
  display: flex;
  height: 1200px;
  width: 800px;
  flex-direction: column;
  margin: 0 auto;
}

#study-guide, #code-refactor, #java, #more {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

#study-guide {
  margin-top:20px;
  background-image: url("../images/02-portfolio-1.jpg");
  background-repeat: no-repeat;
  background-position: center;

}
#code-refactor {
  background-image: url("../images/02-portfolio-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
#java {
  background-image: url("../images/02-portfolio-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#more {
  background-image: url("../images/02-portfolio-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
}